<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li>
        <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li>
        <a href="/docs/providers/prismacloud/index.html">Prisma Cloud Provider</a>
        </li>

        <li>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li>
              <a href="/docs/providers/prismacloud/d/account_group.html">prismacloud_account_group</a>
            </li>
            <li>
              <a href="/docs/providers/prismacloud/d/account_groups.html">prismacloud_account_groups</a>
            </li>
            <li>
              <a href="/docs/providers/prismacloud/d/alert_rule.html">prismacloud_alert_rule</a>
            </li>
            <li>
              <a href="/docs/providers/prismacloud/d/alert_rules.html">prismacloud_alert_rules</a>
            </li>
            <li>
              <a href="/docs/providers/prismacloud/d/alerts.html">prismacloud_alerts</a>
            </li>
            <li>
              <a href="/docs/providers/prismacloud/d/cloud_account.html">prismacloud_cloud_account</a>
            </li>
            <li>
              <a href="/docs/providers/prismacloud/d/cloud_accounts.html">prismacloud_cloud_accounts</a>
            </li>
            <li>
              <a href="/docs/providers/prismacloud/d/compliance_standard.html">prismacloud_compliance_standard</a>
            </li>
            <li>
              <a href="/docs/providers/prismacloud/d/compliance_standard_requirement.html">prismacloud_compliance_standard_requirement</a>
            </li>
            <li>
              <a href="/docs/providers/prismacloud/d/compliance_standard_requirement_section.html">prismacloud_compliance_standard_requirement_section</a>
            </li>
            <li>
              <a href="/docs/providers/prismacloud/d/compliance_standard_requirement_sections.html">prismacloud_compliance_standard_requirement_sections</a>
            </li>
            <li>
              <a href="/docs/providers/prismacloud/d/compliance_standard_requirements.html">prismacloud_compliance_standard_requirements</a>
            </li>
            <li>
              <a href="/docs/providers/prismacloud/d/compliance_standards.html">prismacloud_compliance_standards</a>
            </li>
            <li>
              <a href="/docs/providers/prismacloud/d/policies.html">prismacloud_policies</a>
            </li>
            <li>
              <a href="/docs/providers/prismacloud/d/policy.html">prismacloud_policy</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li>
              <a href="/docs/providers/prismacloud/r/account_group.html">prismacloud_account_group</a>
            </li>
            <li>
              <a href="/docs/providers/prismacloud/r/alert_rule.html">prismacloud_alert_rule</a>
            </li>
            <li>
              <a href="/docs/providers/prismacloud/r/cloud_account.html">prismacloud_cloud_account</a>
            </li>
            <li>
              <a href="/docs/providers/prismacloud/r/compliance_standard.html">prismacloud_compliance_standard</a>
            </li>
            <li>
              <a href="/docs/providers/prismacloud/r/compliance_standard_requirement.html">prismacloud_compliance_standard_requirement</a>
            </li>
            <li>
              <a href="/docs/providers/prismacloud/r/compliance_standard_requirement_section.html">prismacloud_compliance_standard_requirement_section</a>
            </li>
            <li>
              <a href="/docs/providers/prismacloud/r/policy.html">prismacloud_policy</a>
            </li>
            <li>
              <a href="/docs/providers/prismacloud/r/user_role.html">prismacloud_user_role</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
